.slideContainer {
    display: flex;
    height: 100vh;
    background-color: #f7f9fc;
  }

  /* Top Bar */
.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dcdcdc;
  }
  
  /* Left Section - Logout Button */
  .leftSection {
    display: flex;
    align-items: center;
  }
  
  /* Center Section - Icons */
.centerSection {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
    .topIcon {
    width: 3vw;
    height: auto;
    cursor: pointer;
    fill: #333;
  }
  
  /* Right Section - Buttons and Title */
  .rightSection {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .topButton {
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .topButton:hover {
    background-color: cornflowerblue;
  }
  
  .slideTitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: auto;
  }

  .mainContent {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  .mainContent h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .mainContent p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
  }
  
  .slideEditor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .slideItem {
    margin-bottom: 10px;
  }
  
  .slideItem textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    resize: none;
  }
  
  button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #5a67d8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #4c51bf;
  }

  .stack {
    display: flex;
    flex-direction: column;
  }